@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

/* Text Color Variables */
 
:root {
  --font-base: 'Cormorant Upright', serif;
  --font-alt: 'Open Sans', sans-serif;
  
  --color-golden: #DCCA87;
  --color-lightgolden: #E0D5C9;
  --color-black: #0C0C0C;
  --color-blue: #305166;
  --color-crimson: #F5EFDB;
  --color-grey: #AAAAAA;
  --color-white: #FFFFFF;
  --color-darkblue: #0A1D27;
  --color-lightblue: #305166;
  --color-light: #948D73;
  
  
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  
}

a{
  color: unset;
  text-decoration: none;
}

